*,
*:after,
*:before {
  box-sizing: 'border-box';
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body {
  background-color: #CFD8DC;
}

main {
  background-color: #455A64;
  text-align: center;
}

.logo {
  height: 50px;
}

main {
  float: left;
  width: 600px;
  height: 100vh;
}

/* Left side */
h1 {
  color: #FFF;
  font-size: 60px;
  font-weight: 800;
  padding-top: 30vh;
}

#title, #url {
  border: 2px solid #BDBFC1;
  display: block;
  height: 30px;
  margin: 30px auto;
  width: 500px;
}

.submit {
  background-color: #FFC107;
  border: none;
  color: #FFF;
  height: 36px;
  width: 507px;
}

.submit:hover {
  background-color: #FFD773;
}


/* Aside */

aside {
  background-color: #CFD8DC;
  height: 100vh;
  float: left;
}

.linked-card {
  width: 400px;
  height: 100px;
  background-color: #ffffff;
  margin: 20px;
  border: 2px solid #607D8B;
  padding: 10px;
}

.web-title {
  color: #455A64;
  font-weight: 400;
}

.web-url {
  color:
}

.read {
  display: inline;
}

hr {
  border: solid 1px #CFD8DC;
}
