*,
*:after,
*:before {
  box-sizing: 'border-box';
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body {
  background-color: #CFD8DC;
}

main {
  background-color: #455A64;
  float: left;
  height: 100vh;
  text-align: center;
  width: 50%;
}


/* Left side */
section.number-of-links {
  color: #CFD8DC;
  font-size: 24px;
  position: absolute;
  right: 50%;
  text-align: none;
  width: 300px;
}


.num-links, .num-read {
  display: inline;
  padding: 10px;
}

h1 {
  color: #FFF;
  font-size: 78px;
  font-weight: 800;
  padding-top: 15vh;
}

.logo {
  height: 50px;
}

.user-feedback {
  color: white;
  font-size: 24px;
  margin-top: -30px;
}

input {
  border: 2px solid #BDBFC1;
  display: block;
  font-size: 24px;
  height: 40px;
  margin: 30px auto;
  width: 80%;
}

.submit {
  background-color: #FFC107;
  border: none;
  cursor: pointer;
  color: #FFF;
  height: 46px;
  width: 81%;
}

.submit:hover, .clear-read:hover {
  background-color: #FFD773;

}


/*Link Card Container*/

aside {
  background-color: #CFD8DC;
  float: left;
  height: 100vh;
  overflow-y: scroll;
  width: 50%;
}


/*Link Cards*/

.linked-card {
  background-color: #ffffff;
  border: 2px solid #607D8B;
  height: 150px;
  margin: 20px auto;
  padding: 10px;
  position: relative;
  width: 85%;
}

.web-title {
  color: #455A64;
  font-size: 32px;
  font-weight: 400;
  margin: 10px 0px;
}

.web-url {
  color: #607D8B;
  display: inline-block;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #F2F2F4;
  margin: 10px 0px;
}

.web-url:hover {
  color: #455A64;
  text-decoration-color: #FFC107;
}

hr {
  border: solid 1px #CFD8DC;
}

.action {
  bottom: 0;
  color: #455A64;
  cursor: pointer;
  position: absolute;
  text-decoration: underline;
  text-decoration-color: #F2F2F4;
  top: 140px;
}

.action:hover {
  text-decoration-color: #FFC107;
}

.delete {
  left: auto;
  position: absolute;
  right: 10px;
}


/*Toggle Classes*/

.read {
  color: #F05A28;
}

.read-background {
  background-color: #F2F4F4;
}


.url-line {
  text-decoration-color: #CFD8DC;
}


.clear-read {
  background-color: #FFC107;
  border: none;
  bottom: 10px;
  color: #FFF;
  cursor: pointer;
  height: 46px;
  margin: 30px;
  position:fixed;
  right: 12px;
  width: 200px;
  z-index: 1;
}


/*Responsive Breakpoints*/

@media (max-width: 1200px) {

  h1{
    font-size: 45px;
  }

  .logo {
    height: 35px;
  }

  .user-feedback {
    font-size: 20px;
    padding-top: 30px;
  }
  }

@media (max-width: 775px) {

  body {
    overflow-y: scroll
  }

  main {
    height: 60vh;
    text-align: center;
    width: 100%;
  }

  aside {
    height: 40vh;
    overflow-y: unset;
    padding-bottom: 20px;
    width: 100%;
  }

  section.number-of-links {
    font-size: 16px;
    right: 0;
  }

  h1 {
    font-size: 35px;
    padding-top: 20px;
  }

  .user-feedback {
    padding-top: 30px;
    font-size: 16px;
  }

  .logo {
    height: 25px;
  }

  #title, #url, .submit {
    width: 75%;
  }


  .clear-read {
    bottom: 0;
    margin: 0;
    right: 0;
    width: 100%;
  }

@media (max-width:350px) {

  main {
    height: 50vh;
    overflow-y: scroll;
  }

  .user-feedback {
    padding-top: 15px;
  }

  #title, #url {
    font-size: 15px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
  }

  .submit {
    border: 2px solid #D5AC4E;
    height: 33px;
  }

  .clear-read {
    bottom: 0;
    margin: 0;
    right: 0;
    width: 100%;
  }
}
