*,
*:after,
*:before {
  box-sizing: 'border-box';
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body {
  background-color: #CFD8DC;
}

main {
  background-color: #455A64;
  text-align: center;
}

.logo {
  height: 70px;
}

main {
  float: left;
  width: 600px;
  height: 100vh;
}

h1 {
  color: #FFF;
  padding-top: 40vh;
}

aside {
  background-color: #CFD8DC;
  height: 100vh;
  float: left;
}

.linked-card {
  width: 400px;
  height: 100px;
  background-color: #ffffff;
  margin: 20px;
  border: 2px solid #607D8B;
  padding: 10px;
}

.web-title {
  color: #455A64;
  font-weight: 400;
}

.web-url {
  color:
}

.read {
  display: inline;
}

hr {
  border: solid 1px #CFD8DC;
}
